---
layout: layouts/base.njk
title: CAE
mainClass: "page page--experience"
featuredProjects:
- SOUND
- CAVITATION
- GSX
---

<section class="page-hero" style="--hero-img: url('/assets/images/experience/CAE/CAE_B737_hero.JPG');">
    <div class="page-hero__overlay" aria-hidden="true"></div>

    <div class="container page-hero__inner">
        <p class="page-hero__kicker">Operator / Technician</p>
        <h1 class="page-hero__title">CAE Amsterdam B.V.</h1>
        <p class="page-hero__sub">Engineering Department • 2022 - 2026 • Amsterdam, NL</p>
    </div>
</section>

<section class="story">
    <div class="container story__grid">
        <figure class="media media--4x3">
            {% image "assets/images/experience/CAE/CAE_seat.jpeg", "CAE instructor seat" %}
        </figure>

        <div class="story__content">
            <h2 class="story__title">Building Rockets Like Cars</h2>
            <p class="story__text">
                Rocket Factory Augsburg AG is one of the first commercial European companies developing orbital class
                launcher capable of delivering variety of payloads to different orbits. Its uniqueness stands in
                successful development of <strong>Europe's first</strong> oxygen-rich staged combustion engine called
                HELIX. 🧬
            </p>
            <p class="story__text">
                <svg class="story__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd"
                        d="M5.25 6.31v9.44a.75.75 0 0 1-1.5 0V4.5a.75.75 0 0 1 .75-.75h11.25a.75.75 0 0 1 0 1.5H6.31l13.72 13.72a.75.75 0 1 1-1.06 1.06L5.25 6.31Z"
                        clip-rule="evenodd" />
                </svg>
                Take a closer look at the companies’ thriving developments at a glance
            </p>
        </div>
    </div>
</section>

<section class="story story--reverse">
    <div class="container story__grid">

        <figure class="media media--4x3">
            {% image "assets/images/experience/CAE/CAE_APT_night.jpeg", "A320 APT panel night" %}
        </figure>


        <div class="story__content">
            <h2 class="story__title">Everyday Work</h2>
            <p class="story__text">
                As a part of propulsion R&D team I have made significant contributions in fields of fluid mechanics
                analysis on refinement and development of HELIX.
                Key projects I have been involved in include:
                Iterations of system design, cavitation research of propellant feed system, development of test rigs for
                component testing, and data processing of test campaigns.
                RFA's unconventional approach to aerospace component design well aligned with my passion for innovation
                and problem-solving, allowing me to apply and expand my skills in a dynamic environment.
            </p>
            <p class="story__text">Unique oportunity to stand behind design of HELIX engine components on the whole
                design jurney.</p>
            <div class="story__callouts">
                <div class="callout">
                    <h3 class="callout__title">DESIGN</h3>
                    <p class="callout__text">Requirements, CAD, integration</p>
                </div>
                <div class="callout">
                    <h3 class="callout__title">Production</h3>
                    <p class="callout__text">Manufacturing of components</p>
                </div>
                <div class="callout">
                    <h3 class="callout__title">Testing</h3>
                    <p class="callout__text">Testing, additional Iterations</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="story">
    <div class="container story__grid">
        <figure class="media media--4x3">
            {% image "assets/images/experience/CAE/CAE_simhall.jpeg", "CAE simulator hall" %}
        </figure>

        <div class="story__content">
            <h2 class="story__title">Building Rockets Like Cars</h2>
            <p class="story__text">
                Rocket Factory Augsburg AG is one of the first commercial European companies developing orbital class
                launcher capable of delivering variety of payloads to different orbits. Its uniqueness stands in
                successful development of <strong>Europe's first</strong> oxygen-rich staged combustion engine called
                HELIX. 🧬
            </p>
            <p class="story__text">
                <svg class="story__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd"
                        d="M5.25 6.31v9.44a.75.75 0 0 1-1.5 0V4.5a.75.75 0 0 1 .75-.75h11.25a.75.75 0 0 1 0 1.5H6.31l13.72 13.72a.75.75 0 1 1-1.06 1.06L5.25 6.31Z"
                        clip-rule="evenodd" />
                </svg>
                Take a closer look at the companies’ thriving developments at a glance
            </p>
        </div>
    </div>
</section>


<section class="related">
    <div class="container">
        <div class="related__head">
            <h2 class="related__title">Related projects</h2>
            <p class="related__lead">More work in propulsion, testing, data processing…</p>
        </div>
        <div class="projects__grid">
            {% for id in featuredProjects %}
            {% set p = projects[id] %}
            {% if p %}
            {% include "components/project-card.njk" %}
            {% endif %}
            {% endfor %}
    
    </div>
</section>