---
layout: layouts/base.njk
title: CNC Lathe
mainClass: "page page--project"
featuredProjects:
- MACHINING
- HEI
- GSX
---      
        <section class="page-hero" style="--hero-img: url('/assets/images/projects/cncl/oval.jpeg');">
            <div class="page-hero__overlay" aria-hidden="true"></div>

            <div class="container page-hero__inner">
                <p class="page-hero__kicker">Project</p>
                <h1 class="page-hero__title">CNC Lathe RetroFit</h1>
                <p class="page-hero__sub">Machining • CNC • CAM • 2023</p>

                <div class="page-hero__meta">
                    <span class="tag">Tools: CAM</span>
                </div>
            </div>
        </section>

<section class="story">
    <div class="container story__grid">

        <figure class="media media--4x3">
            {% img "assets/images/projects/cncl/dust.jpeg", "CNC Lathe" %}
        </figure>


        <div class="story__content">
            <h2 class="story__title">Idea</h2>
            <p class="story__text">
                The idea to retrofit an old CNC Lathe with modern CAM software came during 
                the design phase of HEI, where availability and machining capabilities
                were key factors in the decision to decide on possible design features. 
                The school-owned CNC machine had not been used and needed modernization.</p> 
            <p class="story__text">
                After consulting with school representatives about the possibility of upgrading 
                the CNC lathe, I gained access to the machine and initiated the process.</p>
            </p>
        </div>
    </div>
</section>

<section class="story story--reverse">
    <div class="container story__grid">

        <figure class="media media--4x3">
            {% img "assets/images/projects/cncl/restoration.jpeg", "Chuck_repair" %}
            
        </figure>


        <div class="story__content">
            <h2 class="story__title">Troubleshooting</h2>
            <p class="story__text">
                Before starting software modernization, the CNC lathe needed restoration, 
                which included lubrication, testing subcomponents, and calibration. </p> 
                <p class="story__text">
                With a licensed SINUMERICK 810D controller, the initial step was to explore 
                the software's capabilities while maintaining the machine's reliability. To ensure 
                students had easy access for their projects, the next step was to integrate an 
                accessible CAM solution compatible with the existing controller, leading to the 
                decision to use Fusion CAM software.</p>
        </div>
    </div>
</section>

<section class="story">
    <div class="container story__grid">

        <figure class="media media--4x3">
            {% img "assets/images/projects/cncl/cam.jpeg", "CNC CAM" %}
        </figure>


        <div class="story__content">
            <h2 class="story__title">Custom post-processor</h2>
            <p class="story__text">
                The existing post-processor used between Fusion 360 and the SINUMERIK controller 
                was not fully compatible with the version running on the CNC machine. After several 
                trials and errors, along with communication with the CNC manufacturer, I was able to 
                modify the existing script to ensure it works with the current version of the controller.</p>
            <p class="story__text">Take a look at the final result below and assess it for yourself.</p>
        </div>
        
    </div>
</section>

<section class="container">
    <div class="mini-gallery">
  {% img "assets/images/projects/cncl/oval.jpeg", "Component inside view" %}
  {% img "assets/images/projects/cncl/part_detail.jpg", "Component detail" %}
  {% img "assets/images/projects/cncl/work.jpeg", "CNC finished" %}
</div>
</section>

<section class="case" id="links">
            <div class="container links">
                <h2 class="case__title">Links</h2>
                <div class="links__row">
                    <a class="linkbtn" href="https://github.com/USER/REPO" target="_blank" rel="noopener">GitHub
                        ↗</a>
                    <a class="linkbtn" href="/assets/documents/EMCO-Turn_55_manual.pdf" target="_blank" rel="noopener">PDF
                        Manual ↗</a>
                </div>
            </div>
        </section>

        <section class="related">
    <div class="container">
        <div class="related__head">
            <h1 class="related__title">More Projects</h1>
        </div>
         <div class="projects__carousel" aria-label="Projects carousel">
      <div class="projects__grid" id="projectsGrid">
        {% for id in featuredProjects %}
          {% set p = projects[id] %}
          {% if p %}
            {% include "components/project-card.njk" %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="projects__dots" aria-label="Project navigation"></div>
    </div>
    </div>
</section>
