---
layout: layouts/base.njk
title: Components Machining
mainClass: "page page--project"
featuredProjects:
- CNCL
- CNCe
- HEI
---      
        <section class="page-hero" style="--hero-img: url('/assets/images/projects/machining/hero.jpeg');">
            <div class="page-hero__overlay" aria-hidden="true"></div>

            <div class="container page-hero__inner">
                <p class="page-hero__kicker">SKILLS</p>
                <h1 class="page-hero__title">Components Machining</h1>
                <p class="page-hero__sub">Manual Machining • CNC • CAM • 2023 - 2025</p>

                <div class="page-hero__meta">
                    <span class="tag">Types: Truning, Milling, Custom fixtures</span>
                </div>
            </div>
        </section>

<section class="story">
    <div class="container story__grid">

        <figure class="media media--4x3">
            {% img "assets/images/projects/machining/mill.jpeg", "Mill" %}
        </figure>


        <div class="story__content">
            <h2 class="story__title">Old vs. New</h2>
            <p class="story__text">
                Rocket Factory Augsburg AG is one of the first commercial European companies developing orbital
                class launcher capable of delivering variety of payloads to different orbits.</p> 
                 <p class="story__text">
                    Its uniqueness stands in successful full in-house development of <strong>Europe's first oxygen-rich 
                    staged combustion (ORSC) engine </strong> called HELIX capable of delivering roughly 100kN of thrust.
            </p>
        </div>
    </div>
</section>

<section class="story story--reverse">
    <div class="container story__grid">

        <figure class="media media--16x9">
            {% img "assets/images/projects/machining/endcap.jpg", "Endcap Finished" %}
            
        </figure>


        <div class="story__content">
            <h2 class="story__title">Restoration</h2>
            <p class="story__text">
                As a part of propulsion R&D team I have made contributions in fields of fluid
                mechanics analysis on refinement and development of HELIX specificaly cavitation research on component testing.</p> 
                <p class="story__text">
            Key projects I have been involved in include:</p>
            <div class="education-text-bullets">
              <ul>
                <li>Iterations of system design</li>
                <li>Cavitation research of propellant/ignition feed system</li>
                <li>Development of test rigs for component testing</li>
                <li>Research based empirical data analysis.</li>
              </ul>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="mini-gallery">
  {% img "assets/images/projects/machining/endcap1.jpeg", "MACHINING Endcap" %}
  {% img "assets/images/projects/machining/nozzle.jpeg", "MACHINING Nozzle" %}
  {% img "assets/images/experience/aquilo/hex.jpeg", "MACHINING HEX" %}
</div>
</section>
<section class="story">
    <div class="container story__grid">

        <figure class="media media--4x3">
            {% img "assets/images/projects/machining/struts.jpeg", "MACHINING Struts" %}
        </figure>


        <div class="story__content">
            <h2 class="story__title">Custom ...</h2>
            <p class="story__text">RFA's unconventional approach to aerospace component design well aligned with my
                passion for
                innovation and problem-solving, allowing me to apply and expand my skills further.</p>
            <p class="story__text">Even as an intern, I had the opportunity to see my work implemented 
                in real production. The company’s culture is built on trust — interns are given full 
                responsibility for their projects, supported by strong technical supervision.</p>
            <p class="story__text">I was involved in the complete development cycle, from defining requirements and 
                design, through validation testing, to final assembly. Being part of the full engineering process 
                and seeing the outcome in production was an incredibly rewarding experience.</p>
        </div>
        
    </div>
</section>

<section class="story story--reverse">
    <div class="container story__grid">

        <figure class="media media--4x3">
            {% img "assets/images/projects/machining/water.jpeg", "MACHINING Water" %}
        </figure>


        <div class="story__content">
            <h2 class="story__title">Design Constrains</h2>
            <p class="story__text">
                As a part of propulsion R&D team I have made contributions in fields of fluid
                mechanics analysis on refinement and development of HELIX specificaly cavitation research on component testing.</p> 
                <p class="story__text">
            Key projects I have been involved in include:</p>
            <div class="education-text-bullets">
              <ul>
                <li>Iterations of system design</li>
                <li>Cavitation research of propellant/ignition feed system</li>
                <li>Development of test rigs for component testing</li>
                <li>Research based empirical data analysis.</li>
              </ul>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="mini-gallery">
  {% img "assets/images/projects/machining/case2.jpeg", "MACHINING Case 2" %}
  {% img "assets/images/projects/machining/case.jpeg", "MACHINING Case" %}
  {% img "assets/images/projects/machining/case_finished.jpeg", "MACHINING Case Finished" %}
</div>
</section>


        <section class="case" id="results">
            <div class="container">
                <h2 class="case__title">Results</h2>
                <div class="results">
                    <div class="result">
                        <div class="result__kpi">+23%</div>
                        <div class="result__label">Efficiency</div>
                    </div>
                    <div class="result">
                        <div class="result__kpi">-6 dB</div>
                        <div class="result__label">Noise</div>
                    </div>
                    <div class="result">
                        <div class="result__kpi">2×</div>
                        <div class="result__label">Runtime</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="related">
    <div class="container">
        <div class="related__head">
            <h2 class="related__title">More Projects</h2>
        </div>
        <div class="projects__grid">
            {% for id in featuredProjects %}
            {% set p = projects[id] %}
            {% if p %}
            {% include "components/project-card.njk" %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
