---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% if site.searchIndexingEnabled != false and not site.isPreview %}
  {% for item in collections.all %}
    {% if item.url and item.url != "/sitemap.xml" and item.data.excludeFromSitemap != true %}
    <url>
      <loc>{{ site.url }}{{ item.url }}</loc>
      <changefreq>{% if item.url == "/" %}weekly{% else %}monthly{% endif %}</changefreq>
      <priority>{% if item.url == "/" %}1.0{% elif item.url == "/contact.html" %}0.8{% else %}0.7{% endif %}</priority>
    </url>
    {% endif %}
  {% endfor %}
{% endif %}
</urlset>
