
.section.about {
  background: var(--color--bg1);
}

.about__grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: clamp(60px, 4vw, 64px);
  align-items: center;
}

.about__image {
  width: 100%;
  height: auto;
}

.about__content {
  max-width: 75ch;     
}

.about__role {
  margin: 0 0 10px;
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.75;
}

.about__title {
  margin: 0 0 14px;
  font-size: var(--fs--h1);
  line-height: var(--lh--tight);
}

.about__text {
  margin: 0 0 22px;
  line-height: var(--lh--normal);
}

@media (max-width: 820px) {
  .about__grid {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .about__image {
    max-width: 360px;
  }
}

.about__signature {
  width: 70%;
  height: auto;
  margin: 0px 0 0px;
  object-fit: cover;
}

