.education-card {
  display: flex;
  flex-direction: row;
}

.education-card:hover + .education-card-border {
  border-color: var(--color-accent);
  width: 90%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-card-border {
  height: 10px;
  width: 70%;
  border-top: 2px solid lightgray;
  margin-bottom: 40px;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-head {
  display: flex;
  flex-direction: row;
}

.education-text-school {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 38px;
  letter-spacing:0.15cap;
}

.education-roundedimg {
  object-fit: cover;
  margin-right: 3rem;
  width: 6rem;
  height: 6rem;
  box-shadow: 0 0.5rem 1rem gray;
  border-radius: 50%;
}

.education-card-right {
  max-width: 90%;
}

.education-text-duration {
  color: black;
  font-size: 19px;
  margin: 0px;
  padding-top: 0.3rem;
}


@media (max-width: 1380px) {
  .education-card {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .education-card-right {
    max-width: 90%;
  }
  .education-card-border {
    width: 90%;
  }

  .education-roundedimg {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .education-card {
    text-align: center;
  }
  .education-card-right {
    max-width: 100%;
  }
  .education-card-border {
    width: 100%;
  }
  .education-roundedimg {
    margin-top: 10px;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .education-text-bullets > ul {
    max-width: 100%;
    margin: auto;
  }
}

.section-header {
  margin-bottom: 35px;
}

.section-header h1 {
  font-size: var(--fs--h1);
  font-weight: var(--fw--light);
  line-height: var(--lh--tight);
}

.education-text-bullets > ul{
  list-style: disc;        
  list-style-position: outside;
  padding-left: 0.5em;     
  margin: 0.1em 25px 0;    
  max-width: 100%;
  color: gray;
  padding-bottom: 10px;
}