.hero__grid {
  position: relative;
  display: grid;
  align-items: relative;
  gap: 3rem 2rem;
}
@media (min-width: 48rem) {
  .hero__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 0;
  }
}
@media (min-width: 64rem) {
  .hero__grid {
    grid-template-columns: 1fr max-content;
    column-gap: 1rem;
  }
}


.hero__image {
  display: block;
  max-width: 18rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  justify-self: center;
}
@media (min-width: 48rem) {
  .hero__image {
    max-width: 20rem;
    order: 1;
  }
}
@media (min-width: 64rem) {
  .hero__image {
    max-width: 35rem;
    margin-right: 5rem;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
}


.hero__title {
  margin: 0;
  font-size: clamp(2.2rem, 5vw, 4rem);
  font-weight: var(--fw--bold);
  line-height: var(--lh--tight);
}


.hero__text {
  margin: 0;
  max-width: 60ch;
  font-size: var(--fs--body);
  line-height: var(--lh--normal);
  font-weight: var(--fw--regular);
  color: var(--color--text);
}


.hero__social {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  display: grid;
  gap: 0.8rem;
  justify-items: center;
  visibility: hidden;
}

@media (min-width: 64rem) {
  .hero__social {
    visibility: visible;
  }
}

.hero__social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color--symbol);
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.hero__social a:hover {
  color: var(--color--hover);
  transform: translateY(-1px);
}


.hero__icon {
  width: 24px;
  height: 24px;
  display: block;
}


.hero__social::before,
.hero__social::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 2px;
  transform: rotate(90deg);
  background: var(--color--line);
  
}

.hero__social::before { top: -3rem; }
.hero__social::after  { bottom: -3rem; }


@media (prefers-reduced-motion: reduce) {
  .hero__cta,
  .hero__social a {
    transition: none;
  }
}
